{% extends 'base.html.twig' %}

{% block title %}Cultivo index{% endblock %}

{% block body %}
    <h1>Cultivo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cultivo in cultivos %}
            <tr>
                <td>{{ cultivo.id }}</td>
                <td>{{ cultivo.nombre }}</td>
                <td>
                    <a href="{{ path('cultivo_show', {'id': cultivo.id}) }}">show</a>
                    <a href="{{ path('cultivo_edit', {'id': cultivo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cultivo_new') }}">Create new</a>
{% endblock %}
