{% extends 'base.html.twig' %}

{% block title %}Cultivo{% endblock %}

{% block body %}
    <h1>Cultivo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cultivo.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ cultivo.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cultivo_index') }}">back to list</a>

    <a href="{{ path('cultivo_edit', {'id': cultivo.id}) }}">edit</a>

    {{ include('cultivo/_delete_form.html.twig') }}
{% endblock %}
