{% extends 'base.html.twig' %}

{% block title %}Plaga{% endblock %}

{% block body %}
    <h1>Plaga</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ plaga.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ plaga.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('plaga_index') }}">back to list</a>

    <a href="{{ path('plaga_edit', {'id': plaga.id}) }}">edit</a>

    {{ include('plaga/_delete_form.html.twig') }}
{% endblock %}
