{% extends 'base.html.twig' %}
 
{% block stylesheets %}
    {{ encore_entry_link_tags('telefono') }}
{% endblock %}

{% block title %}Teléfonos {% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <h1> Listado de teléfonos </h1>
    {% else %}
        <h1> Listado de teléfonos del Ayuntamiento de {{localidad}} </h1>
    {% endif %}

<div id="telefonos">
    {% if is_granted('ROLE_AYTO') %}
        <a id="new_telefono" href="{{ path('telefono_new') }}"> <i class="fas fa-plus-circle"></i> Añadir nuevo teléfono </a>
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Teléfono</th>
                {% if is_granted('ROLE_AYTO') %}
                <th>Editar</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for telefono in telefonos %}
            <tr>
                <td>{{ telefono.nombre }}</td>
                <td>{{ telefono.telefono }}</td>
                {% if is_granted('ROLE_AYTO') %}
                <td>
                    <a href="{{ path('telefono_edit', {'id': telefono.id}) }}"><i class="far fa-edit"></i></a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="4"> No hay télefonos añadidos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
