{% extends 'base.html.twig' %}

{% block title %}Ayuntamiento{% endblock %}

{% block body %}
<div class="container-fluid contenedor">
	<h2 style="color:#5499C7;margin-top:20px;margin-bottom:40px;">PANEL DE GESTIÓN DEL AYUNTAMIENTO</h2>
	<div class="card-group">
	        <div class="col-md-9">
			<!--Bloque1-->
	             <div class="row">
			       <div class="col">
			  	       <div class="card" >
						  <div class="card-body">
						    <h3 class="card-title">Últimas Incidencias</h3>
						    <p class="card-text">
                  <!-- Card Incidencia-->
						       <div class="container">
										  {% for row in incidencias|batch(4) %}
									            <div class="row">
									                {% for incidencia in incidencias %}
                                                        <div  class="col-sm-3">
										                    <a href="{{ path('incidencia', {'id': incidencia.id }) }}">
										                        <div class="card border-Gray  mb-2" style="width: 12rem;">
										                            <!-- Slider -->
										                            <img class="img-fluid" src="/imagen/bache.jpg" alt="First slide">
										                            <!-- End Slider -->
										                            <div class="card-body">
										                                <h6><small class="card-title">Fecha: {{ incidencia.fecha|date('Y-m-d') }}</small></h6>
										                                <span class="badge badge-{{incidencia.ColorEstado}}">
										                                    {{incidencia.estado}}
										                                </span>      
										                            </div>
										                        </div>
										                    </a>
														</div>
										                {% endfor %}
									            </div>
		                                  {% endfor %}
	                                </div>
						    </p>
						    <!--<a href="#" class="card-link">Salir</a>
						    <a href="#" class="card-link">Todas las incidencias.</a>-->
						  </div>
					   </div>
			  	   </div>
			    </div>
				<!--Division-->
			    <div class="w-100"><br></div>
				<!--Bloque2-->
			    <div class="row">
			       <div class="col">
			  	        <div class="card" >
						  <div class="card-body">
						    <h3 class="card-title">Últimas Opiniones</h3>
						    <p class="card-text">
								 <!-- Card Opinion-->	
	                               <div class="container">
										  {% for row in opinas|batch(4) %}
									            <div class="row">
									                {% for opina in row %}
													<div  class="col-sm-3">
									                    <div id="opina" class="card border-Gray  mb-2" style="max-width:12rem;">
									                        <div class="card">
									                            <div class="card-body">
									                                <div class="card-text">
									                                <a href="{{ path('opina_show', {'id': opina.id}) }}"><p class="card-text-2">{{ opina.pregunta }}</p></a>
									                                </div>
									                                <br>
									                                <h6><small> <id="fecha">Tienes de fecha hasta: {{ opina.fechahoralimite ? opina.fechahoralimite|date('d-m-Y') : '' }}</small></h6>
									                                
									                            </div>
									                        </div>
									                    </div>
													</div>
									                {% endfor %}
									            </div>
		                                  {% endfor %}
	                                </div>
							</p>
						    <a href="#" class="card-link">Salir</a>
						    <a href="{{ path('opina_index') }}" class="card-link">Ir a opiniones</a>
								
						  </div>
					    </div>
			        </div>
				</div>
				<div class="w-100"><br></div>
            <!--Boque3-->
                 <div class="row">
			       <div class="col">
			  	       <div class="card" >
						  <div class="card-body">
						    <h3 class="card-title">Últimos Eventos</h3>
						    <p class="card-text">
                  <!-- Card Incidencia-->
						       <div class="container">
										  {% for row in incidencias|batch(4) %}
									            <div class="row">
									                {% for incidencia in incidencias %}
                                                        <div  class="col-sm-3">
										                    <a href="{{ path('incidencia', {'id': incidencia.id }) }}">
										                        <div class="card border-Gray  mb-2" style="width: 12rem;">
										                            <!-- Slider -->
										                            <img class="img-fluid" src="/imagen/bache.jpg" alt="First slide">
										                            <!-- End Slider -->
										                            <div class="card-body">
										                                <h6><small class="card-title">Fecha: {{ incidencia.fecha|date('Y-m-d') }}</small></h6>
										                                <span class="badge badge-{{incidencia.ColorEstado}}">
										                                    {{incidencia.estado}}
										                                </span>      
										                            </div>
										                        </div>
										                    </a>
														</div>
										                {% endfor %}
									            </div>
		                                  {% endfor %}
	                                </div>
						    </p>
						    <a href="#" class="card-link">Salir</a>
						    <a href="{{ path('incidencia_index') }}" class="card-link">Todas las incidencias.</a>
						  </div>
					   </div>
			  	   </div>
			    </div> 
	    </div>
	    <div class="col-md-3">
			<div class="card border-primary  mb-2" class="card" style="margin-top:150px;">
			    <div class="card-body">
			    {% if is_granted('ROLE_AYTO') %}
				<center><a id="nuevaopinion" href="{{ path('incidencia_index') }}"><i class="far fa-edit"></i> Consultar incidencias</a></center>
				 {% endif %}
			    </div>
		        <div class="centered">
				  <!--<center><button type="button" class="btn btn-primary " text-aling="center">Añadir</button></center>-->
				</div>
			</div>
			<div class="w-100"><br></div>
			 <div class="row" style="margin-top:400px;">
			       <div class="col">
			  	        <div class="card border-primary  mb-2">
						  <div class="card-body">
						    {% if is_granted('ROLE_AYTO') %}
				                <center><a id="nuevaopinion" href="{{ path('opina_new') }}"><i class="far fa-edit"></i> Crea una consulta</a></center>
				             {% endif %}
						   <div class="centered">
				          </div>   
						  </div>
					    </div>
			        </div>
			    </div>
				<div class="w-100"><br></div>
			 <div class="row" style="margin-top:400px;">
			       <div class="col">
			  	        <div class="card border-primary  mb-2">
						  <div class="card-body">
						    {% if is_granted('ROLE_AYTO') %}
				                <center><a id="nuevaopinion" href="{{ path('opina_new') }}"><i class="far fa-edit"></i> Crea eventos</a></center>
				             {% endif %}
						   <div class="centered">
				          </div>   
						  </div>
					    </div>
			        </div>
			    </div>
	    </div>
	</div>
</div>
{% endblock %}
