{% extends 'base.html.twig' %}

{% block title %}Administrador{% endblock %}
{% block stylesheets %}
       {{ encore_entry_link_tags('inicio') }}
{% endblock %}

{% block body %}

<div class="container-fluid contenedor">
	<h2>PANEL DE GESTIÓN DEL ADMINISTRADOR</h2>
	
	<div class="card-group" >
	    <div class="col-md-9">
             <!-- Bloque 1 Incidencias-->
			    <div class="row">
			       <div class="col">
			  	        <div class="card"  >
						  <div class="card-body">
						    <h3 id="titulo"class="card-title" >Lista de Incidencias</h3>
						    <p class="card-text">
						    	<!-- Card Incidencia-->
						       <div class="container" >						 
									            <div class="row">
									                {% for incidencia in incidencias %}
                                                        <div  class="col-sm-3" >
										                    <a href="{{ path('incidencia', {'id': incidencia.id }) }}">
										                        <div id="contenido"class="card  mb-2">
										                            <!-- Slider -->
										                            <img class="img-fluid" src="/imagen/bache.jpg" alt="First slide">
										                            <!-- End Slider -->
										                            <div class="card-body">
										                                <h6><small class="card-title">Fecha: {{ incidencia.fecha|date('Y-m-d') }}</small></h6>
										                                <span class="badge badge-{{incidencia.ColorEstado}}">
										                                    {{incidencia.estado}}
										                                </span>      
										                            </div>
										                        </div>
										                    </a>
														</div>
										                {% endfor %}
									            </div>
	                                </div>
						     </p>
							  {% if is_granted('ROLE_AYTO') %}
				                <center><a id="nuevaincidencia" href="{{ path('incidencia') }}"><i class="far fa-eye"></i> Ver las incidencias</a></center>
				             {% endif %}
						  </div>
					    </div>
			        </div>
			    </div>
                 <!--División de Bloque-->
			    <div class="w-100"><br></div>
                 <!-- Bloque 2 Opinion-->
			    <div class="row">
			       <div class="col">
			  	       <div class="card "  >
						  <div class="card-body">
						    <h3 id="titulo" class="card-title"> Lista de encuestas</h3
							    <p class="card-text">
							     <!-- Card Opinion-->	
	                               <div class="container">
										  {% for row in opinas|batch(4) %}
									            <div class="row">
									                {% for opina in row %}
													<div  class="col-sm-3">
									                    <div id="contenido" class="card mb-2" >
									                            <div class="card-body">
									                                <div class="card-text">
									                                <a href="{{ path('opina_show', {'id': opina.id}) }}"><p class="card-text-2">{{ opina.pregunta }}</p></a>
									                                </div>
									                                <h6><small> <id="fecha">Tienes de fecha hasta: {{ opina.fechahoralimite ? opina.fechahoralimite|date('d-m-Y') : '' }}</small></h6>    
									                            </div>
									                    </div>
													</div>
									                {% endfor %}
									            </div>
		                                  {% endfor %}
	                                </div>
							    </p>
						     {% if is_granted('ROLE_AYTO') %}
				                <center><a id="nuevaopinion" href="{{ path('opina_index') }}"><i class="far fa-eye"></i> Ver consultas</a></center>
				             {% endif %}
						  </div>
					   </div>
			  	   </div>
			    </div>
                <!--División de Bloque-->
			    <div class="w-100"><br></div>
                <!-- Bloque 3 Salud-->
                  <div class="row">
			        <div class="col">
			  	      <div class="card " >
						 <div class="card-body">
						    <h3 id="titulo" class="card-title">Salud</h3>
						    <p class="card-text">
						    	<!-- Card Salud-->
								<div class="container">
                               {% for row in saluds|batch(4) %}
								    <div class="row">
									      {% for salud in row %}
									        <div  class="col-sm-3">
									            <div id="contenido"class="card mb-2">
									                <a href="{{ path('salud_show', {'id': salud.id}) }}">
									                <div class="card-body">
									                <p class="card-title">{{ salud.titulo}}</p></a>        
									                <div class="card-text">
									                </div>
									                <div class="final">
									                  <h6><small> {{ salud.fechahora ? salud.fechahora|date('d-m-Y') : '' }}</small></h6> 
									                </div>                             
									            </div>
									        </div>
									        </div>
									      {% endfor %}
						            </div>
							    {% endfor %}
								</div>
				            </p>
							 {% if is_granted('ROLE_AYTO') %}
				                <center><a id="nuevaopinion" href="{{ path('salud_new') }}"><i class="far fa-edit"></i> Crea un artículo</a></center>
				             {% endif %}
						  
						  </div>
					    </div>
			        </div>
			    </div>   
                 <!--División de Bloque-->
			    <div class="w-100"><br></div>
                 <!-- Bloque 4 Eventos-->
			    <div class="row">
			       <div class="col">
			  	        <div class="card" >
						  <div class="card-body">
						    <h3 id="titulo" class="card-title" >Eventos</h3>
						    <p class="card-text">
						    	<!--Contenido de eventos-->
						    	 <div class="container">
										 {% for row in eventos|batch(4) %}
											<div class="row">
											{% for evento in row %}
												<div  class="col-sm-3" >
												 <div id="contenido" class="card mb-2" >
													<a href="{{evento.id}}">
													<div class="card-body">
														<p class="card-title">{{ evento.titular}}</p></a>        
														<div class="card-text">
														<h6><small class="fecha_evento">{{ evento.fechahora ? evento.fechahora|date('d/m/Y') : '' }}</small></h6>
														</div>						
													</div>
												</div>
												</div>
											{% endfor %}
											</div>
										{% endfor %}
	                             </div>
						    </p>
						     {% if is_granted('ROLE_AYTO') %}
				                <center><a id="nuevaopinion" href="{{ path('evento_index') }}"><i class="far fa-eye"></i> Crea un evento</a></center>
				             {% endif %}
						    
						  </div>
					    </div>
			        </div>
			    </div>
			    
	    </div>
	    <div class="col-md-3">
			<div class="card " >
			    <div class="card-body">
				    <h6 >Ayuntamientos <span class="float-right">{{ ayuntamientos|length }}</span></h6>
					<h6 >Vecinos <span class="float-right">{{ vecinos|length }}</span></h6>
                    <h6 >Incidencias <span class="float-right">{{ incidencias|length }}</span></h6>
				    <h6 >Encuesta <span class="float-right">{{ opinas|length }}</span></h6>
					<h6 >Salud <span class="float-right">{{ saluds|length }}</span></h6>
                    <h6 >Eventos<span class="float-right">{{ eventos|length }}</span></h6><hr>

					{% if is_granted('ROLE_AYTO') %}
				    <a id="nuevaincidencia" href="{{ path('incidencia') }}"><i class="far fa-eye"></i> Ver las incidencias</a>
				    {% endif %}<br>
                    {% if is_granted('ROLE_AYTO') %}
				    <a id="nuevaopinion" href="{{ path('opina_index') }}"><i class="far fa-eye"></i> Ver consultas</a>
				    {% endif %}<br>
                    {% if is_granted('ROLE_AYTO') %}
				    <a id="nuevasalud" href="{{ path('salud_new') }}"><i class="far fa-edit"></i> Crea un artículo</a>
					<spam class="float-right"> <a href="{{ path('salud_index') }}" class="card-link">Ir a salud</a></spam>
				    {% endif %}<br>
					{% if is_granted('ROLE_AYTO') %}
				    <a id="nuevoevento" href="{{ path('evento_index') }}"><i class="far fa-eye"></i> Ver eventos</a>
				    {% endif %}<hr>

                    
                   
					
			    </div>
		        <div class="centered">
				  <center>
				  	<label for="añadir"></label>
				  	<!--<button type="button" class="btn btn-primary " text-aling="center">Añadir</button>-->
				  </center>
				</div>
			</div>
        <!--<div class="w-100"><br></div>
			    <div class="row">
			       <div class="col">
			  	        <div class="card  mb-2" >
						  <div class="card-body">
						    <h3 class="card-title">Ir a:</h3>
						    <p class="card-text"></p>
						   <div class="centered">
				          </div>   
						  </div>
					    </div>
			        </div>
			    </div>-->

	    </div>
	</div>
</div>
  
{% endblock %}
