{% extends 'base.html.twig' %}

{% block title %}Variedad index{% endblock %}

{% block body %}
    <h1>Variedad index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for variedad in variedads %}
            <tr>
                <td>{{ variedad.id }}</td>
                <td>{{ variedad.nombre }}</td>
                <td>
                    <a href="{{ path('variedad_show', {'id': variedad.id}) }}">show</a>
                    <a href="{{ path('variedad_edit', {'id': variedad.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('variedad_new') }}">Create new</a>
{% endblock %}
