{% extends 'base.html.twig' %}

{% block title %}Variedad{% endblock %}

{% block body %}
    <h1>Variedad</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ variedad.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ variedad.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('variedad_index') }}">back to list</a>

    <a href="{{ path('variedad_edit', {'id': variedad.id}) }}">edit</a>

    {{ include('variedad/_delete_form.html.twig') }}
{% endblock %}
