{{ form_start(form) }}
	<div class="row">
		<div class="col-md-6">

			<div class="card">
			  <div class="card-header">
			    Parcelas
			  </div>
			  <div class="card-body">
					{% for group in form.parcelas.vars.choices %}
					   <div class="col-xs-2">
					       <p>{{ group.label }}</p>
					       <ul class="no-bullets">
						        {% for value in group.choices %}
						          	<li>{{ form_widget(form.parcelas[value.value]) }}</li>
						        {% endfor %}
					   		</ul>
					   </div>
					{% endfor %}
			  </div>		  
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-4">
					{{ form_row(form.plaga) }}
				</div>
				<div class="col-md-4">
					{{ form_row(form.equipo) }}
				</div>
				<div class="col-md-4">
					{{ form_row(form.producto) }}
				</div>		
			</div>	
			<div class="row">
				<div class="col-md-3">
					{{ form_row(form.registro) }}
				</div>
				<div class="col-md-3">
					{{ form_row(form.unidades) }}
				</div>
				<div class="col-md-3">
					{{ form_row(form.numAplicaciones) }}
				</div>
			</div>			
			<div class="row">
				<div class="col-md-4">
					{{ form_row(form.dosisRecomendada) }}
				</div>
				<div class="col-md-4">
					{{ form_row(form.dosisEmpleada) }}
				</div>		
			</div>				
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			{{ form_row(form.save) }}
		</div>
	</div>		
{{ form_end(form) }}
