{{ form_start(form) }}
	<div class="row">
		<div class="col-md-6">
			{{ form_row(form.rexa) }}
		</div>
		<div class="col-md-6">
			{{ form_row(form.roppi) }}
		</div>	
	</div>	
	<div class="row">
		<div class="col-md-12">
			{{ form_row(form.save) }}
		</div>
	</div>		
{{ form_end(form) }}
