{% extends 'base.html.twig' %}

{% block title %}Explotacion index{% endblock %}

{% block body %}
    <h1>Explotacion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Rexa</th>
                <th>Roppi</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for explotacion in explotacions %}
            <tr>
                <td>{{ explotacion.id }}</td>
                <td>{{ explotacion.rexa }}</td>
                <td>{{ explotacion.roppi }}</td>
                <td>
                    <a href="{{ path('explotacion_show', {'id': explotacion.id}) }}">show</a>
                    <a href="{{ path('explotacion_edit', {'id': explotacion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('explotacion_new') }}">Create new</a>
{% endblock %}
