{% extends 'base.html.twig' %}


{% block title %}Opina{% endblock %}
    
{% block stylesheets %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">
        
        <link rel="stylesheet" href="{{ asset('build/opina.css') }}">
            
{% endblock %}



{% block body %}
    <div class="container container-fluid index_opinion">
        <div class="col-xs-12 col-sm-6 col-md-12">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <h1 id="bodyopina">Opina</h1>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    {% if is_granted('ROLE_AYTO') %}
                        <a id="nuevaopinion" href="{{ path('opina_new') }}"><i class="far fa-edit"></i> Crea una nueva opinión</a>
                    {% endif %}
                </div>  
            </div>                 
        </div>

   
        {% for row in opinas|batch(3) %}
            <div class="row">
                {% for opina in row %}
                    <div id="opina" class="col-xs-12 col-sm-6 col-md-4 card_opina">
                        <div class="card">
                            <p>
                            <img class="card-img-top" src="{{ asset(ruta_imagenes ~ opina.imagen.nombre) }}" alt="Card image cap" width="20" height="250">
                            </p>
                            <div class="card-body">
                                <div id="pregunta" class="card-text">
                                    <p>
                                    <span>{{ opina.pregunta }}</span>
                                    </p>
                                </div>                                
                                <div class="progress">
                                    <i class="far fa-thumbs-up"></i> <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{ opina.PorcentajeFavor }}%" aria-valuenow="{{ opina.PorcentajeFavor }}" aria-valuemin="0" aria-valuemax="100"><span>{{ opina.PorcentajeFavor }} %</span></div>
                                </div>
                                <br>
                                <div class="progress">
                                    <i class="far fa-thumbs-down"></i> <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: {{ opina.PorcentajeContra }}%" aria-valuenow="{{ opina.PorcentajeContra }}" aria-valuemin="0" aria-valuemax="100"><span>{{ opina.PorcentajeContra }} %</span></div>
                                </div>
                                <br>
                                <div class="prueba">
                                    <p>
                                    <input type="hidden" value="{{ opina.id }}">
                                        {% if is_granted('ROLE_VECINO') and (not is_granted('ROLE_ADMIN')) %}
                                            {% if (date(opina.fechahoralimite) > date('-1days')) or (0==1) %}
                                                <button type="button" class="btn btn-outline-success botonopina" valor="F" {{ opina.HaVotado(app.user) == true ? 'disabled = "disabled"'}}>A favor</button>
                                                <button type="button" class="btn btn-outline-danger botonopina" valor="C"  {{ opina.HaVotado(app.user) == true ? 'disabled = "disabled"'}}>En contra</button>
                                                {% else %}

                                                    <table id="mostrar" class="table">
                                                        <tbody>
                                                            <tr>
                                                                <th>Votos a favor</th>
                                                                <td>{{ opina.votosfavor }}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Votos en contra</th>
                                                                <td>{{ opina.votoscontra }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table> 
                                        {% endif %}

                                        {% elseif is_granted('ROLE_AYTO') %}
                                             <div class="container">
                                                <table id="mostrar" class="table">
                                                    <tbody>
                                                        <tr>
                                                            <th>Votos a favor</th>
                                                            <td>{{ opina.votosfavor }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Votos en contra</th>
                                                            <td>{{ opina.votoscontra }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>   
                                            </div>
                                        {% endif %}                                    
                                    </p>
                                </div>
                                {% if is_granted('ROLE_VECINO') %}
                                    {% if date(opina.fechahoralimite) > date('-1days') %}
                                        <p id="fecha">Finalización: {{ opina.fechahoralimite ? opina.fechahoralimite|date('d-m-Y') : '' }}</p>
                                    {% endif %}
                                {% endif %}

                                {% if is_granted('ROLE_AYTO') %}
                                    <a id="editar" href="{{ path('opina_edit', {'id': opina.id}) }}"><i class="far fa-edit"></i> Editar</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    
    

<input type="hidden" id="usuarioid" value="{{ app.user.id }}">
    
{% endblock %}

{% block javascripts %}
   
    {{ parent() }}

    <script src="{{ asset('build/opinajs.js') }}"></script>
{% endblock %}
