{% extends 'base.html.twig' %}

{% block title %}Crear consulta ciudadana{% endblock %}


{% block stylesheets %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">
        
        <link rel="stylesheet" href="{{ asset('build/opina.css') }}">
            
{% endblock %}

{% block body %}
<div id="new" class="container-fluid contenedor">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-12">
		 	<h2> <i class="far fa-edit"></i> Crear consulta ciudadana</h2>
		</div>
	</div>
	<div class="row justify-content-md-center">
		<div class="col-xs-12 col-sm-6 col-md-6">
		    {{ include('opina/_form.html.twig') }}
		</div>
	</div>

	<a href="{{ path('opina_index') }}"><i class="fas fa-arrow-circle-left"></i> Volver a la lista opiniones</a>
</div>


   
{% endblock %}

{% block javascripts %}
            {{ parent() }}  

                <script src="{{ asset('build/opinajs.js') }}"></script>

{% endblock %}
