{{ form_start(form) }}
	<div class="row">
		<div class="col-md-8">
			{{ form_row(form.explotacion) }}
		</div>			
		<div class="col-md-4">
			{{ form_row(form.nombre) }}
		</div>
	</div>	
	<div class="row">
		<div class="col-md-12">
			{{ form_row(form.save) }}
		</div>
	</div>		
{{ form_end(form) }}
