{% extends 'base.html.twig' %}

{% block title %}Equipo index{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Numero</th>
                        <th>Nombre</th>
                        <th>Capacidad</th>
                        <th>Roma</th>
                        <th>Bastidor</th>
                        <th>FechaAdquisicion</th>
                        <th>FechaUltimaInspeccion</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for equipo in equipos %}
                    <tr>
                        <td>{{ equipo.id }}</td>
                        <td>{{ equipo.numero }}</td>
                        <td>{{ equipo.nombre }}</td>
                        <td>{{ equipo.capacidad }}</td>
                        <td>{{ equipo.roma }}</td>
                        <td>{{ equipo.bastidor }}</td>
                        <td>{{ equipo.fechaAdquisicion ? equipo.fechaAdquisicion|date('Y-m-d') : '' }}</td>
                        <td>{{ equipo.fechaUltimaInspeccion ? equipo.fechaUltimaInspeccion|date('Y-m-d') : '' }}</td>
                        <td>
                            <a href="{{ path('equipo_show', {'id': equipo.id}) }}">show</a>
                            <a href="{{ path('equipo_edit', {'id': equipo.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-3 parcela-sidebar">

        </div>
    </div>


    <h1>Equipo index</h1>


    <a href="{{ path('equipo_new') }}">Create new</a>
{% endblock %}
