{{ form_start(form) }}
	<div class="container" id="form-container">
        <section>
            <div class="row">
                <div class="col-md-4">
                    <label class="col-form-label">Fecha</label>
                    <div class="form-group">
                        {{ form_widget(form.fecha)}}
                    </div>
                    <label class="col-form-label">Latitud</label>
                    <div class="form-group">
                        {{ form_widget(form.latitud)}}
                    </div>
                    <label class="col-form-label">Longitud</label>
                    <div class="form-group">
                        {{ form_widget(form.longitud)}}
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="col-form-label">Descripción</label>
                    <div class="form-group">
                        {{ form_widget(form.descripcion)}}
                    </div>
                    <label class="col-form-label">Estado</label>
                    <div class="form-group">
                        {{ form_widget(form.estado)}}
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- Slide -->
                    {{ form_widget(form.fichero)}}
                    <!-- End Slide -->
                </div>
            </div>
            <div class="text-center">
                {{ form_widget(form.save)}}
                {{ form_widget(form.delete)}}
                <a href="{{ path('incidencia_index') }}" class="btn btn-primary">Volver a lista</a>
            </div>
            <div class="clearfix"></div>
        </section>
    </div>		
{{ form_end(form) }}

