{% extends 'base.html.twig' %}

{% block title %}Incidencia index{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('build/incidencias-css.css') }}">{% endblock %}

{% block body %}
    <div class="container" id="incidencias">
        <div class="row">
            <div class="col-md-9">
                {% for incidencia in incidencias %}
                    <a href="inmueble/{{incidencia.id}}">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img class="card-img-top" src="/images/atico.jpg" alt="Error al cargar imagen">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ incidencia.fechahora }}</h5>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <a href="{{ path('incidencia_new') }}">Nueva incidencia</a>
    </div>
{% endblock %}
{% block javascripts%}
    <script src="{{ asset('build/incidencias-js.js') }}"></script>
{% endblock %}
