{% extends 'base.html.twig' %}

{% block title %}Incidencia index{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('build/incidencias-css.css') }}">{% endblock %}

{% block body %}
    <div class="container" id="incidencias">
        <section>
            <div class="row" id="incidencias-cards">
                {% for incidencia in incidencias %}
                    <a href="{{ path('incidencia', {'id': incidencia.id }) }}">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="/imagen/bache.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ incidencia.fecha|date('Y-m-d') }}</h5>
                                <p>Estado: {{incidencia.estado}}</p>   
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}
{% block javascripts%}
    <script src="{{ asset('build/incidencias-js.js') }}"></script>
{% endblock %}
