{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('incidenciacss') }}
{% endblock %}

{% block body %}
    <div class="container" id="incidencias">
        <section>
            <!--<a href="{{ path('incidencia_new') }}" id="bt-nuevaincidencia" class="btn btn-primary">
                Nueva incidencia
            </a>-->
            <div class="row" id="incidencias-cards">
                {% for incidencia in incidencias %}
                    <a href="{{ path('incidencia_show', {'id': incidencia.id }) }}">
                        <div class="card" style="width: 18rem;">
                            {% if incidencia.imagenes is not null %}                                    
                                {% for imagen in incidencia.imagenes %}                                   
                                    {% if loop.index == 1 %}
                                        <img class="img-fluid" src="{{ asset(imagen.nombre, 'usuarios') }}"/>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">Fecha: {{ incidencia.fecha|date('Y-m-d') }}</h5>
                                {% if is_granted('ROLE_VECINO') %}
                                    <span class="badge badge-{{incidencia.ColorEstadoParaVecino}}">
                                        {{incidencia.EstadoParaVecino}}
                                    </span>
                                {% else %}
                                    <span class="badge badge-{{incidencia.ColorEstado}}">
                                        {{incidencia.estado}}
                                    </span>
                                {% endif %}      
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}


