{% extends 'base.html.twig' %}

{% block title %}Incidencia{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('incidenciacss') }}
{% endblock %}

{% block body %}
    
    <h1>Incidencia</h1>
    <div class="container" id="incidencia-vista">
        <div class="row">
            <div class="col-4">
               
                {% if incidencia.imagenes is not null %}
                    {% for imagen in incidencia.imagenes %}
                        {% if loop.index == 1 %}
                            <img class="img-fluid" src="{{ asset(imagen.nombre, 'usuarios') }}" alt="First slide">
                        {% endif %}
                    {% endfor %}
                {% endif %}
                        
            </div>
            <div class="col-6">
                
                <div class="card">    
                    <div class="card-body">
                        {% if is_granted('ROLE_VECINO') %}
                            <span class="badge badge-{{incidencia.ColorEstadoParaVecino}}">
                                {{incidencia.EstadoParaVecino}}
                            </span>
                        {% else %}
                            <span class="badge badge-{{incidencia.ColorEstado}}">
                                {{incidencia.estado}}
                            </span>
                        {% endif %} 
                        <h6 class="card-title">
                            {{ incidencia.fecha ? incidencia.fecha|date('Y-m-d') }}
                        </h6>
                        <div class="descripcion">
                            <p class="card-text">{{ incidencia.descripcion }}</p>
                        </div> 
                        <a href="{{ path('incidencia') }}" class="card-link">Volver a lista</a>
                           {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('incidencia_edit', {'id': incidencia.id }) }}" class="card-link">
                                    Editar
                                </a>
                            {% elseif is_granted('ROLE_AYTO')%}
                                <a href="{{ path('incidencia_edit', {'id': incidencia.id }) }}" class="card-link">
                                    Editar
                                </a>    
                            {% endif %}
                            
                        
                    </div>    
                </div>
                
            </div>
        </div>
    </div>


{% endblock %}    
