{% extends 'base.html.twig' %}

{% block title %}Incidencia{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/incidencias-css.css') }}">
{% endblock %}

{% block body %}
    
    <h1>Incidencia</h1>
    <div class="container" id="incidencia-vista">
        <div class="row">
            <div class="col-4">
                <!-- Slider -->
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <!-- indicadores -->
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleControls" data-slide-to="1"></li>
                                <li data-target="#carouselExampleControls" data-slide-to="2"></li>
                            </ol>
                        <!-- end indicadores -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="img-fluid" src="/imagen/arbol.jpg" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="img-fluid" src="/imagen/bache.jpg" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="img-fluid" src="/imagen/calle.jpg" alt="Third slide">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                <!-- End Slider --> 
            </div>
            <div class="col-6">
                
                <div class="card">    
                    <div class="card-body">
                        <span class="badge badge-{{incidencia.ColorEstado}}">{{incidencia.estado}}</span>
                        <h6 class="card-title">
                            {{ incidencia.fecha ? incidencia.fecha|date('Y-m-d') }}
                        </h6>
                        <div class="descripcion">
                            <p class="card-text">{{ incidencia.descripcion }}</p>
                        </div> 
                        <a href="{{ path('incidencia_index') }}" class="card-link">Volver a lista</a>
                           
                            <a href="{{ path('incidencia_edit', {'id': incidencia.id }) }}" class="card-link">
                                Editar
                            </a>
                            
                        
                    </div>    
                </div>
                
            </div>
        </div>
    </div>
    
{% endblock %}
