{% extends 'base.html.twig' %}

{% block title %}Incidencia{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('build/incidencias-css.css') }}">{% endblock %}


{% block body %}
    <h1>Incidencia</h1>
    <div class="container" id="incidencia-vista">
        <div class="row">
            <div class="col-4">
                <img src="/imagen/bache.jpg" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-7">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Fecha: {{ incidencium.fecha ? incidencium.fecha|date('Y-m-d') }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Latitud: {{ incidencium.latitud }}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Longitud: {{ incidencium.longitud }}</h6>
                        <p class="card-text">Descripcion: {{ incidencium.descripcion }}</p>
                        <a href="{{ path('incidencia_index') }}" class="card-link">Volver a lista</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
