{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('build/evento.css')}}">
{% endblock %}

{% block title %}Eventos{% endblock %}

{% block body %}

    <div class="container container-fluid">
        

    <div class="container container-fluid">
        <div class="row">
            <div class="col-md-3">
                 <img class="saludimg"src="{{ asset(ruta_imagenes ~ evento.imagen.nombre) }}" alt="Card image cap" width="100%"> 
                <div class="iconos_evento"> 
                    <a id="eventoicon" href="{{ path('evento_index') }}"><i class="fas fa-arrow-circle-left"></i></a> 
                    <a id="eventoicon" href="{{ path('evento_edit', {'id': evento.id}) }}"><i class="far fa-edit"></i></a>
                </div>                               
            </div>         
            <div class="col-sm-9">
               <h1 class="salud2">{{ evento.titular }}</h1>
               <p> {{ evento.texto }}</p>
            
                <a href="{{ path('salud_index') }}" type="submit" class="btn btn-primary">Volver</a>
                <a href="{{ path('salud_edit', {'id': evento.id}) }}" type="submit" class="btn btn-primary">Editar</a>
            </div>
         </div>       
           
          
    </div>
{% endblock %}
