{% extends 'base.html.twig' %}

{% block title %}Provincia index{% endblock %}

{% block body %}
    <h1>Provincia index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for provincium in provincias %}
            <tr>
                <td>{{ provincium.id }}</td>
                <td>{{ provincium.nombre }}</td>
                <td>
                    <a href="{{ path('provincia_show', {'id': provincium.id}) }}">show</a>
                    <a href="{{ path('provincia_edit', {'id': provincium.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('provincia_new') }}">Create new</a>
{% endblock %}
