<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('inicio') }}">
      <img src="{{asset('imagen/logo.png')}}" height="50px" class="d-inline-block align-top" alt="">
    </a>    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ path('incidencia') }}">Incidencias</a>
          </li>
          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('opina_index') }}">Opina</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('evento_index') }}">Eventos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('salud_index') }}">Salud</a>
          </li>
          {% if is_granted('ROLE_AYTO') %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('vecino_listado') }}">Vecinos</a>
          </li>
          {% endif %}
          {% if is_granted('ROLE_VECINO') %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('telefono_index') }}">Teléfonos</a>
          </li>
          {% endif %}
          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('user_show', {'id': app.user.id }) }}">{{ app.user.email|default('') }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i></a>
          </li>
        {% endif %}
      </ul>
      </div>
  </div>
</nav>