{{ form_start(form) }}
	<div class="row">
		<div class="col-md-12">
			{{ form_row(form.numid) }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			{{ form_row(form.poligono) }}
		</div>
		<div class="col-md-4">
			{{ form_row(form.parcela) }}
		</div>
		<div class="col-md-4">
			{{ form_row(form.recinto) }}
		</div>		
	</div>	
	<div class="row">
		<div class="col-md-3">
			{{ form_row(form.superficie) }}
		</div>
		<div class="col-md-3">
			{{ form_row(form.volumencopa) }}
		</div>
		<div class="col-md-3">
			{{ form_row(form.marcoPlantacion) }}
		</div>
	</div>	
	<div class="row">
		<div class="col-md-3">
			{{ form_row(form.agrupacion) }}
		</div>
		<div class="col-md-3">
			{{ form_row(form.localidad) }}
		</div>
		<div class="col-md-3">
			{{ form_row(form.variedades) }}
		</div>
	</div>				
	<div class="row">
		<div class="col-md-4">
			{{ form_row(form.pi) }}
		</div>
		<div class="col-md-4">
			{{ form_row(form.piayuda) }}
		</div>		
		<div class="col-md-4">
			{{ form_row(form.sigpacUso) }}
		</div>				
	</div>			
	<div class="row">
		<div class="col-md-12">
			{{ form_row(form.save) }}
		</div>
	</div>		
{{ form_end(form) }}
