{{ form_start(form) }}
	<div class="row">
		<div class="col-md-4">
			{{ form_row(form.imagenescudo) }}
		</div>
		<div class="col-md-4">
			{{ form_row(form.localidad) }}
		</div>
        <div class="col-md-4">
			
		</div>
	</div>	
	<div class="row">
		<div class="col-md-12">
			{{ form_row(form.save) }}
		</div>
	</div>		
{{ form_end(form) }}

