{{ form_start(form) }}
	<div class="row">
		<div class="col-md-6">
			{{ form_row(form.nombre) }}
		</div>		
		<div class="col-md-6">
			{{ form_row(form.apellido1) }}
		</div>
		<div class="col-md-6">
			{{ form_row(form.apellido2) }}
		</div>	
		<div class="col-md-6">
			{{ form_row(form.ayuntamiento) }}
		</div>	
		<div class="col-md-6">
			{{ form_row(form.username) }}
		</div>
		<div class="col-md-6">
			{{ form_row(form.email) }}
		</div>	
		<div class="col-md-6">
			{{ form_row(form.plainPassword.first) }}
		</div>	
		<div class="col-md-6">
			{{ form_row(form.plainPassword.second) }}
		</div>
		<div class="col-md-6">
			{{ form_row(form.fichero) }}
		</div>			
	</div>	
	<div class="row">
		<div class="col-md-12">
			{{ form_row(form.save) }}
		</div>
	</div>		
{{ form_end(form) }}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script type="text/javascript">

    $('#vecino_fichero').on('change',function (e) {
        $(this).next('.custom-file-label').html(e.target.files[0].name);
    });

</script>