{% extends 'base.html.twig' %}
{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/vecino.css') }}">
{% endblock %}
{% block title %} Vecinos {% endblock %}

{% block body %}
<h1>Vecinos de {{localidad}}</h1>
<div id="vecinos">
    {% for row in vecinos|batch(6) %}
    <div class="row">
        {% for vecino in row %}
            <div class="col-sm-2">
                <a href="#">
                <div class="card h-100">
                    <img class="card-img-top imgtodas" src="#" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ vecino.nombre|capitalize}} {{vecino.apellido1|capitalize}} {{vecino.apellido2|capitalize}}</h5>     
                    </div>
                </div>
                </a>
            </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}
