{% extends 'base.html.twig' %}


{% block body %}

    {% set tipo = app.request.get('tipo') %}




<!-- Header - set the background image for the header in the line below -->
   <header class="py-5 bg-image-full" style="background-image: url('https://www.nuevosvecinos.com/support2/img/nv/banner3.png');">
      <img class="img-fluid d-block mx-auto" src="http://placehold.it/200x200&text=Logo" alt="">
    </header>

    <!-- Content section -->
    <section class="py-5">
      <div class="container">
      	<div class="row">
	      	<div class="col-md-6">
            

            {% if (tipo == 'AYTO') %}
		            {{ include('user/texto_ayto.html.twig') }}

	      	  {% elseif (tipo == 'ADMIN') %}
                {{ include('user/texto_admin.html.twig') }}

            {% else %}
                {{ include('user/texto_vecino.html.twig') }}

            {% endif %}
          </div>

	      	<div class="col-md-6">
	      		{{ include('user/_form.html.twig') }}
	      	</div>  
      	</div>
      </div>
    </section>

    <!-- Image Section - set the background image for the header in the line below -->
    <!--<section class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1081');">-->
      <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
      <!--<div style="height: 200px;"></div>
    </section>-->

    <!-- Content section -->
    <!--<section class="py-5">
      <div class="container">
        <h1>Section Heading</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
      </div>
    </section>-->

    <!-- Footer -->
    <footer  class="" >
        {{ include('user/register_footer.html.twig') }}
    </footer>


{% endblock %}


{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/register.css') }}">
{% endblock %}