{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">
        
        <link rel="stylesheet" href="{{ asset('build/user.css') }}">
{% endblock %}

{% block body %}

<div class="container-fluid">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% if user.imagen.nombre is defined %}
            <img class="img-rounded" src="{{ asset(ruta_imagenes ~ user.imagen.nombre) }}" alt="Card image cap" height="200" width="200">
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
        {% elseif is_granted('ROLE_VECINO') %}
            <h1><b>
            {{ user.nombre }} {{ user.apellido1 }} {{ user.apellido2 }}
            </b></h1>
            <hr>
            <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="col-md-12">
                                <h2>Información</h2>
                                <table class="table table-hover">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Nombre</th>
                                            <td>{{ user.nombre }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1º apellido</th>
                                            <td>{{ user.apellido1 }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2º apellido</th>
                                            <td>{{ user.apellido2 }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Usuario</th>
                                            <td>{{ user.username }}</td>
                                        </tr>
                                            <th scope="row">Email</th>
                                            <td>{{ user.email }}</td>
                                        </tr>
                                            <th scope="row">Ayuntamiento</th>
                                            <td>{{ user.ayuntamiento.localidad}}</td>
                                        </tr>
                                        <caption><a class="btn btn-primary" id="boton" href="{{ path('user_edit', {'id': user.id}) }}" role="button">Editar perfil</a></caption>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row" id="publicaciones">

                        </div>
                    </div>
            </div>
        {% elseif is_granted('ROLE_AYTO') %}
            <h1>
                {{ user.localidad }}
            </h1>
            <hr>
            <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="col-md-12">
                                <h2>Información</h2>
                                <table class="table table-hover">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Usuario</th>
                                            <td>{{ user.username }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Localidad</th>
                                            <td>{{ user.localidad }}</td>
                                        </tr>
                                        </tr>
                                            <th scope="row">Email</th>
                                            <td>{{ user.email }}</td>
                                        </tr>
                                        <tr>
                                        <caption><a class="btn btn-primary" id="boton" href="{{ path('user_edit', {'id': user.id}) }}" role="button">Editar perfil</a></caption>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row" id="telefonos">
                            <h2>Teléfonos</h2>
                            <table class="table table-hover">
                                <tbody>
                                {% for telefono in user.telefonos %}
                                    <tr>
                                        <th scope="row">{{telefono.nombre}}</th>
                                            <td>{{ telefono.telefono }}</td>
                                            <td><a href="{{ path('telefono_edit', {'id': telefono.id}) }}"><i class="far fa-edit"></i></a></td>
                                        </tr>
                                    <tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div>
                            <a class="btn btn-primary" id="new_telefono" href="{{ path('telefono_new') }}"> <i class="fas fa-plus-circle"></i> Añadir nuevo teléfono </a>
                            </div>
                        </div>
                    </div>
            </div>
        {% endif %}
    {% endif %}
</div>
{% endblock %}

{% block javascripts %}

 {{ parent() }}


 <script src="{{ asset('build/userjs.js') }}"></script>

{% endblock %}