{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
            <div class="col-md-4">
                        <h1>Mi perfil</h1>
                        <hr>
                            <div class="row">
                                <div class="col-md-4">
                                    <p><b>Nombre</b></p>
                                    <p><b>1ยบ apellido</b></p>
                                    <p><b>2ยบ apellido</b></p>
                                    <p><b>Usuario</b></p>
                                    <p><b>Email</b></p>
                                </div>
                                <div class="col-md-3">
                                    <p>{{ user.nombre }}</p>
                                    <p>{{ user.apellido1 }}</p>
                                    <p>{{ user.apellido2 }}</p>
                                    <p>{{ user.username }}</p>
                                    <p>{{ user.email }}</p>
                                </div>

                                {{ form_start(form) }}
                                        <div class="col-md-12">
                                            {{ form_row(form.fichero) }}
                                         </div>
                                {{ form_end(form) }}

                            </div>

                <a href="{{ path('user_index') }}">back to list</a>

                <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>

                {{ include('user/_delete_form.html.twig') }}
            </div>
    </div>
</div>
{% endblock %}