{% extends 'base.html.twig' %}

{% block title %}Saludables{% endblock %}

  {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/salud.css') }}">
  {% endblock %}


{% block body %}

<div class="container-fluid">
  <!--<h1 class="salud">Salud</h1>--> 
  {% if is_granted('ROLE_ADMIN') %} 
    <button id="nuevosalud" type="button" class="btn btn-primary" href="{{ path('salud_new') }}">Nuevo artículo</button>
  {% endif %}  

  {% for row in saluds|batch(3) %}
    <div class="row">
      {% for salud in row %}
        <div  class="col-sm-4">
          <div class="card">
            <a class="salud1" href="{{salud.id}}">
              <img class="card-img-top imgtodas" src="{{ asset(ruta_imagenes ~ salud.imagen.nombre) }}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{ salud.titulo}}</h5></a>        
                <div class="card-text">
                  <p>{{ salud.texto|slice(0, 130) }}</p>
                </div>
                <div class="final">                  
                  <p>{{ salud.fechahora ? salud.fechahora|date('d-m-Y') : '' }}</p> 
                </div>                             
              </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <br>
    <br>
  {% endfor %}
</div>      

{% endblock %}


{% block javascripts %}
    {{ parent() }}  

    <script src="{{ asset('build/saludjs.js') }}"></script>
            
{% endblock %}


