{% extends 'base.html.twig' %}

{% block title %}Saludables{% endblock %}

{% block stylesheets %}
     {{ encore_entry_link_tags('salud') }}
{% endblock %}

{% block body %}
    <div class="container container-fluid show_salu">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <img class="saludimg" src="{{ asset(salud.imagen.nombre, 'usuarios') }}" alt="Card image cap" width="100%"> 
                <div class="iconos"> 
                    <a class="saludicon" href="{{ path('salud_index') }}"><i class="fas fa-arrow-circle-left"></i></a> 
                    {% if is_granted('ROLE_ADMIN') %}            
                        <a class="saludicon" href="{{ path('salud_edit', {'id': salud.id}) }}"><i class="far fa-edit"></i></a>        
                    {% endif %}                                
                </div>                               
            </div>         
            <div class="col-xs-12 col-sm-6 col-md-9">
               <h3 class="salud2">{{ salud.titulo }}</h3>
               <p class="salud4"> {{ salud.texto }}</p>
            </div>
            {% if is_granted('ROLE_ADMIN') %}            
                <a class="saludicon4">{{ include('salud/_delete_form.html.twig') }}</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
