{% extends 'base.html.twig' %}

{% block title %}Saludables{% endblock %}

{% block body %}

    <div class="container container-fluid">
        {{ salud.fechahora ? salud.fechahora|date('Y-m-d') : '' }}
        <div class="row">        
            <h1>{{ salud.titulo }}</h1> 
            <img class="card-img-top" src="{{ asset(ruta_imagenes ~ salud.imagen.nombre) }}" alt="Card image cap" width="50" height="50">     
            <p>{{ salud.texto }}</p>          
        </div>
        <a href="{{ path('salud_index') }}">Lista</a>
        <a href="{{ path('salud_edit', {'id': salud.id}) }}">Editar</a>
        {{ include('salud/_delete_form.html.twig') }}
    </div> 

{% endblock %}
